<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-4.0.xsd">
		
		<global-method-security secured-annotations="enabled" jsr250-annotations="enabled" pre-post-annotations="enabled">
		</global-method-security>
		
		<http pattern="/static/**" security="none"/>
		<http pattern="/userfiles/**" security="none"/>
		<!-- <http pattern="/sys/login" security="none"/> -->
		
		<!-- use-expressions默认为true 使用这种access access="hasRole('USER')" -->
		<http use-expressions="false">
			<intercept-url pattern="/sys/login" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"></intercept-url>
			<intercept-url pattern="/**" access="ROLE_USER" requires-channel="https"/>
			<form-login login-page='/sys/login' authentication-failure-url="/sys/login?authenticationfailure" default-target-url='/sys/f' always-use-default-target='true'/>
			<logout logout-url="/sys/logout" delete-cookies="JSESSIONID"/>
			<csrf disabled="true"/>
			<session-management invalid-session-url="/sys/login?invalidsession">
				<concurrency-control max-sessions="2" error-if-maximum-exceeded="true" />
			</session-management>
		</http>
		
		<authentication-manager>
			<authentication-provider>
				<user-service>
				<user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="user" password="user" authorities="ROLE_USER" />
				</user-service>
			</authentication-provider>
		</authentication-manager>
</beans:beans>